django==2.2.20
djangorestframework>=3.9.1
django-rest-auth==0.9.5
django-allauth==0.38.0
django-phonenumber-field
phonenumbers
django-cors-headers
python-dotenv
requests
Pillow
django-cleanup
django-crontab
coreapi
psycopg2
