.container {
    flex: 1;
    padding: 30px 15px;
}

.browseWrapper {
    padding: 30px 70px;
}

#pageHeader {
    margin: auto;
    font-family: Work Sans;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.1em;
}

.searchWrapper {
    display: flex;
    margin: auto;
}

.filtersContainer {
    margin-right: 20px;
    flex: 1;
    font-family: Lato;
}

.filtersContainer ul {
    list-style: none;
    padding-left: 10px;
    margin-top: 10px;
}

.filtersContainer section ul {
    padding: 0;
}

.filtersContainer h2 {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.2em;
    margin: 30px 0 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.filtersContainer h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
}

.filtersContainer button {
    width: 100%;
    height: 32px;
    background: none;
    border: none;
    cursor: pointer;
    font-family: Lato;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
}

.filtersContainer button:hover:not(.activeCategory) {
    text-decoration: underline;
}

.filtersContainer button:focus {
    outline: none;
}

.filtersContainer .activeCategory {
    background-color: #FFDFBF;
}

.searchResultsContainer {
    margin-left: 20px;
    flex: 3;
}

.searchResultsContainer h2 {
    font-family: Lato;
    margin: 0;
}

.searchResultsContainer header {
    display: flex;
}

.searchResultsHeader {
    font-family: Lato;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}

.searchResultsContainer header div {
    flex: 1;
}

.searchForm {
    width: 100%;
    margin: 30px auto;
}

.searchForm div {
    height: 64px;
    background: #E9E9E9;
    border-radius: 40px;
    border: none;
    padding-left: 30px;
    display: flex;
}

.searchForm input {
    font-family: Lato;
    font-size: 20px;
    line-height: 24px;
    color: #808080;
    background: none;
    height: 100%;
    padding: 0;
    border: none;
    flex-grow: 1;
}

.searchForm input:focus {
    outline: none;
}

.searchForm button {
    background: none;
    border: none;
    margin-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.searchForm button:focus {
    outline: none;
}

.map {
    width: 100%;
    margin-bottom: 15px;
}
