.linkWrapper {
    text-decoration: none;
    color: black;
}

.card {
    display: flex;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
    margin: 30px 0;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out
}

.card:hover {
    transform: scale(1.02);
}

.invisible {
    opacity: 0.5;
}

.projectCard {
    height: 240px;
}

.userCard {
    height: 200px;
}

.practitioner {
    background-color: #49AEE9;
}

.researcher {
    background-color: #99D85D;
}

.profilePicture {
    width: 145px;
    height: 145px;
    align-self: center;
    margin-right: 22px;
}

.projectDetails, .userDetails {
    padding-right: 30px;
    flex: 5;
}

.projectDetails {
    display: flex;
    flex-direction: column;
}

.projectDetails div {
    display: flex;
}

.projectDetails h3 {
    font-family: Work Sans;
    font-size: 30px;
    line-height: 35px;
    margin: 0;
    padding-bottom: 6px;
    letter-spacing: 0.05em;
}

.projectDetails h4 {
    padding-right: 60px;
}

.projectDetails h4, .card p {
    font-family: Lato;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}

.projectDetails p {
    margin-top: 10px;
    margin-bottom: 10px;
    flex: 1;
}

.readMore {
    text-decoration-line: underline;
    color: #FF7F00;
}

.userDetails {
    display: flex;
}

.userDetails h3 {
    font-family: Work Sans;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.1em;
    color: white;
    margin: 0;
}

.userDetails h4 {
    font-family: Lato;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: white;
    margin: 0;
}

.userDetails section header {
    display: flex;
}

.userDetails section header img {
    margin-left: 15px;
}

.CCEBadge {
    width: 68px;
}

.CornellBadge {
    width: 100px;
}

.userCard .stats {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stats {
   padding-left: 30px;
   flex: 2;
}

.stats h4 {
    font-family: Lato;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #FF7F00;
    margin: 0;
}

.linkWrapper img {
    margin-right: 10px;
}

.line {
    display: flex;
    padding-bottom:10px;
    align-items: center;
}

.line img {
    align-self: flex-start;
}

.projectCard .line img {
    width: 19px;
    height: auto;
}

.userCard .line img {
    width: 16px;
    height: auto;
}

.statList {
    font-family: Lato;
    font-size: 18px;
    margin-top: -2px;
}
