.root {
    margin: 87px 150px;
}

.createProfile {
    font-family: Work Sans;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.1em;
    color: black;
}

.subtitle {
    font-family: Lato;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 39px;
    letter-spacing: 0.1em;
    color: black;
}

.smallTextInput {
    /* width: 19%; */
    width: 278px;
    margin-right: 28px;
    height: 64px;
    background: #E9E9E9;
    border: none;
    border-radius: 5px;
    padding-left: 34px;
    font-family: Lato;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
    margin-bottom: 17px;
}

.mediumTextInput {
    composes: smallTextInput;
    /* width: 26%; */
    width: 383px;
}

.longTextInput {
    composes: smallTextInput;
    width: 618px;
}

.nextButton {
    width: 161px;
    height: 56px;
    background: #49AEE9;
    border: none;
    border-radius: 5px;
    margin-top: 18px;
    margin-bottom: 87px;
    font-family: Lato;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.19em;
    color: white;
    cursor: pointer;
}

.backButton {
    composes: nextButton;
    margin-right: 32px;
    background: #FF7F00;
}

.radio {
    width: 20px;
    height: 24px;
    background-color: #E9E9E9;
}

.label {
    margin-left: 16px;
    font-family: Lato;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: black;
}

.selection {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.buttons {
    margin-top: 71px;
}

.question {
    font-family: Lato;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.1em;
    color: black;
    margin: 20px 0;
}

.answer {
    height: 178px;
    background: #E9E9E9;
    border-radius: 5px;
    border: none;
    width: 100%;
    max-width: 893px;
    font-family: Lato;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
    padding-top: 26px;
    padding-left: 30px;
}

.QAitem {
    margin-bottom: 55px;
}

.uploadHere {
    width: 72%;
    height: 411px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed black;
    box-sizing: border-box;
}

.dragAndDrop {
    margin-top: 121px;
    font-family: Lato;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.1em;
    color: black;
}

.or {
    margin-top: 38px;
    font-family: Lato;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: black;
}

.propic {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.imageUpload {
    composes: nextButton;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 5px 16px;
    margin-bottom: 30px;
}

.form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.locationForm {
    display: flex;
    flex-direction: column;
}

.form .requiredFields {
    width: 680px;
}

.form .optionalFields {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

span.qaOptionText {
    font-family: Lato;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
}

.dropdownQuestion {
    display: flex;
    align-items: center;
}

.dropdown {
    margin-left: 20px;
    font-size: 18px;
}

.otherTextbox {
    font-family: Lato;
    font-size: 20px;
    width: 200px;
    height: 24px;
    border-width: 0;
    background: #E9E9E9;
    padding-left: 10px;
}

.numberedList {
    composes: question;
}

.researcherImg {
    width: 294px;
    height: 294px;
    background: white;
    box-sizing: border-box;
    cursor: pointer;
    padding: 68px 87px 45px 87px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.researcherImgClicked {
    composes: researcherImg;
    border: 4px solid #99d85d;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.practitionerImg {
    composes: researcherImg;
    width: 294px;
    height: 294px;
    padding: 97px 18px 45px 18px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.practitionerImgClicked {
    composes: practitionerImg;
    border: 4px solid #49aee9;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.roleText {
    width: 338px;
    height: 118px;
    font-family: Lato;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
}

.roleCard {
    width: 292px;
    margin: 31px 62px 31px 0;
    text-align: center;
    box-sizing: border-box;
}

.roleLink {
    width: 292px;
    height: 292px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: black;
    font-family: Lato;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.roleLink img {
    padding-top: 20px;
    margin: 0 auto;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.roleLink p {
    margin-top: 35px;
}

.rolePage {
    display: flex;
}

.disclaimer {
    font-family: Lato;
    margin: 0;
    font-size: 24px;
    letter-spacing: 0.1em;
    margin-top: -30px;
    margin-bottom: 60px;
}

.uploadedImage {
    height: 220px;
    width: 220px;
    border-radius: 50%;
}

.profileNavImg {
    width: 117px;
    height: 145px;
}

.homeNavImg {
    width: 151px;
    height: 144px;
}

.studiesNavImg {
    width: 175px;
    height: 134px;
}

.submitProjImg {
    width: 128px;
    height: 130px;
}

.finishPage {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
}

.label {
    margin-left: 0;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
}

.uploadButton {
    composes: imageUpload;
    width: 264px;
    background: #99D85D;
}

.fileUploaded {
    display: flex;
}

.fileUploaded p {
    font-size: 16px;
    line-height: 20px;
    width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-height: 20px;
    text-align: left;
}

.errorContainer {
    display: flex;
    flex-direction: column;
    font-family: Lato;
}

.errorContainer span {
    font-size: 20px;
}

.errorMsg {
    color: red;
    letter-spacing: 0;
    font-size: 20px;
}
