.filterCategory {
    margin-bottom: 20px;
}

.filterCategory h4 {
    margin: 0;
    cursor: pointer;
    font-family: Lato;
    letter-spacing: 0.1em;
}

.filterCategory img {
    margin-right: 10px;
    transition: 0.1s all ease-in-out;
}

.filterCategory h4, .filterCategory img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filterCategory label {
    margin-left: -4px;
    margin-right: 0;
    margin-top: 10px;
    font-size: 16px;
    font-family: Lato;
}

.filterCategory .checkbox:hover {
    background-color: transparent;
}

.filterCategory .checkbox {
    padding: 0 5px 0 0;
}

.open {
    transform: rotate(0deg);
}

.closed {
    transform: rotate(-90deg);
}
