.footer {
    width: 100%;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #99D85D;
}

.logo {
    width: 400px;
    height: 188px;
}

.socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialMedia img {
    height: 60px;
}

.contact {
    color: white;
    font-family: Work Sans;
}

.contact h2 {
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0.2em;
    margin-top: 0;
    margin-bottom: 15px;
}

#prydeLink {
    font-weight: bold;
    font-size: 25px;
}

.contact p {
    font-weight: normal;
    font-size: 25px;
    margin: 5px 0;
}

.contact a {
    color: white;
    text-decoration: none;
}
