.loginWrapper {
    position: relative;
    flex: 1;
    padding: 30px 15px;
    height: 100%;
    width: 100%;
}

.loginGraphic {
    position: absolute;
    height: 500px;
    top: 50%;
    margin-top: -250px;
}

#loginBlue {
    left: -15px;
}

#loginGreen {
    right: -15px;

.joinOurCommunity {
    font-family: Work Sans;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    margin-top: 77px;
    margin-block-end: 5px;
    text-align: center;
    letter-spacing: 0.1em;
    color: black;
}

.loginToCreate {
    font-family: Work Sans;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: black;
    margin-block-start: 0px;
    margin-bottom: 30px;
}

.textInput {
    width: 24%;
    height: 64px;
    background: #E9E9E9;
    border: none;
    border-radius: 5px;
    margin-top: 16px;
    padding-left: 20px;
    font-family: Lato;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
}

.loginButton {
    width: 11%;
    height: 56px;
    background: #49AEE9;
    border: none;
    border-radius: 5px;
    margin-top: 27px;
    margin-bottom: 23px;
    font-family: Lato;
    font-size: 20px;
    line-height: 24px;
    align-self: center;
    letter-spacing: 0.19em;
    color: white;
}

.loginForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

.link {
    font-family: Lato;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 12px;
    align-self: center;
    align-content: center;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    color: #808080;
}

.links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    margin-bottom: 75px;
}
