.joinOurCommunity {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 3.2vh;
    line-height: 3.2vh;

    margin-top: 10vh;

    text-align: center;
    letter-spacing: 0.1em;

    color: #000000;
}

.loginToCreate {
    justify-content: center;

    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 2.3vh;
    line-height: 2.3vh;

    text-align: center;

    color: #000000;
}

.textInput {
    height: 4.7vh;
    width: 17%;

    background: #E9E9E9;
    border: none;
    border-radius: 5px;

    margin-bottom: 1.4vh;

    /* input text */

    padding-left: 1.3%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8vh;
    line-height: 2vh;
    /* identical to box height */

    letter-spacing: 0.1em;

    color: black;
}


.loginButton {
    width: 8%;
    height: 5vh;
    background: #49AEE9;
    border-radius: 5px;

    margin-top: 1.4vh;
    margin-bottom: 2.8vh;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4vh;
    line-height: 1.8vh;

    align-self: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.19em;

    color: #FFFFFF;
}

.loginForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

.link {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vh;
    line-height: 1.8vh;

    padding-bottom: 1vh;

    align-self: center;
    align-content: center;

    letter-spacing: 0.1em;
    text-decoration-line: underline;

    color: #808080;
}

.links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}
