.loginWrapper {
    position: relative;
    flex: 1;
    padding: 30px 15px;
    height: 100%;
}

.loginGraphic {
    position: absolute;
    height: 500px;
    top: 50%;
    margin-top: -250px;
    overflow: hidden;
    z-index: -100;
}

#loginBlue {
    left: 0;
}

#loginBlue img {
    height: 35vw;
    max-height: 100%;
    position: relative;
    left: -250px;
}

#loginGreen {
    right: 0;
}

#loginGreen img {
    height:35vw;
    max-height: 100%;
    position: relative;
    right: -250px;
}

.joinOurCommunity {
    font-family: Work Sans;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    margin-top: 77px;
    margin-block-start: 0px;
    text-align: center;
    letter-spacing: 0.1em;
    color: black;
}

.loginToCreate {
    font-family: Work Sans;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: black;
    margin-block-start: 0px;
    margin-bottom: 30px;
}

.textInput {
    width: 440px;
    height: 64px;
    background: #E9E9E9;
    border: none;
    border-radius: 5px;
    margin-top: 16px;
    padding-left: 20px;
    font-family: Lato;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
}

.loginButton {
    width: 200px;
    height: 56px;
    background: #49AEE9;
    border: none;
    border-radius: 5px;
    margin-top: 27px;
    margin-bottom: 23px;
    font-family: Lato;
    font-size: 20px;
    line-height: 24px;
    align-self: center;
    letter-spacing: 0.19em;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.loginButton:hover{
    background: none;
    color: #49AEE9;
    box-shadow: inset #49AEE9 0px 0px 0px 2px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

.link {
    font-family: Lato;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 12px;
    align-self: center;
    align-content: center;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    transition: 0.2s;
    color: #808080;
}

.link:hover{
    opacity: 0.5;
}

.links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    margin-bottom: 75px;
}

.errorMessage {
    font-family: Lato;
    color: red;
    text-align: center;
    font-size: 22px;
}

.successMessage {
    composes: errorMessage;
    color: #1fbf37;
}
