.county {
    stroke: #000;
    stroke-linejoin: round;
    stroke-width: 2px;
    cursor: pointer;
}

.mapContainer {
    width: 820px;
    height: 580px;
    position: relative;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
