{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you or someone else has requested a password reset for your account at PRYDE Connect.{% endblocktrans %}

{% blocktrans %}If you did not request a password reset, you can safely ignore this email.{% endblocktrans %}

{% trans "If you do want to reset your password, click the link below and choose a new password:" %}
{% block reset_link %}
http://localhost:3000{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Thank you for using PRYDE Connect!" %}

{% endautoescape %}